.education-header h2{
    color: white;
    font-size: 2rem;
}

.education {
    padding: 40px;
    margin-top: 60px;
}

/* how to get 2017-2021 aligned to the left? */

.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    width: 17% !important;
}