.name-container p.name {
    color: white;
    font-size: .75rem;
    margin-bottom: 1px;
}

.name-container h1 {
    color: white;
    font-size: 4rem;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: left;
}

/* .name-container p.title {
    color: white;
    font-size: 1.5rem;
    margin-top: 1px;
    text-align: left;
} */

.name-container p.bio {
    color: #7b8a7b;
    font-size: 1rem;
    margin-top: 1.5px;
    text-align: left;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 80px;
    max-width: 100%;
    /* float: left; */
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 80px;
}

/* .left {
    width: 35%;
} */

.introduction p {
    color: #7b8a7b;
    font-size: 1.25rem;
    text-align: left;
}

.home {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    pointer-events: none;
    display: flex;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .home {
        display: grid;
        flex-direction: 1fr 1fr;
    }

}