h2 {
    color: white;
    font-size: 2rem;
}

.projects {
    padding: 20px;
}


.title {
    font-size: 1.5rem;
}

a.link {
    text-decoration: none;
    color: white;
}

a.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
}

li {
    list-style-type: none;
}

p.languages {
    color: #c0c3fa;
    background-color: #a8acff76;
    border-radius: 9999px;
    display: inline-flex;
    padding: 10px;
    margin: 8.5px;
    font-size: .65rem;
}

img {
    height: 100px;
    width: 180px;
    border: solid 2px transparent;
    float: left;
}

@media (min-width: 768px) {
    img:hover {
        border-color: rgb(111, 231, 231);
        transition: 0.5s;
        transform: scale(1.2);
    }
}
.container {
    text-align: left;
    border: solid 1px transparent;
    display: inline-flex;
    flex-wrap: wrap;
    inline-size: 500px;
    padding: 20px;
}

.content-container:hover .content {
    opacity: 0.5;
    transition: .5s;
}

.content-container:hover .content:hover {
    opacity: 1;
}