@font-face{
  font-family: montserrat;
  src: url('./Montserrat/Montserrat-VariableFont_wght.ttf')
}

@font-face {
  font-family: montserratbold;
  src: url('./Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
  font-family: montserratlight;
  src: url('./Montserrat/static/Montserrat-Light.ttf');
}

@font-face {
  font-family: montserratitalic;
  src: url('./Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

.App {
  text-align: center;
  font-family: montserrat;
}

